.profile{
    border-radius: 50%;
}

.aboutLink{
    color:#999999;
}

.aboutLink:hover{
    color: #5b5b5b;
}

@media (max-width: 640px) {
    .profile{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}