.projects{
    list-style-type: none;
    margin: 0;
}

.project{
    background: #f4f4f4;
    padding: 1rem;
    h2{
        margin-bottom: 0.2rem;  
    }
}

.linksList{
    display: flex;
    list-style-type: none;
    margin: 0;   
}

.linkText{
    margin-right: 0.8rem;
    a {
        color: #999999;
       
    }
    a:hover{
        color: #5b5b5b;
    }
   
}